<h2>{{ greetings() }}</h2>
<button (click)="setMessage('Hello World')">Set Message</button>
<button (click)="updateMessage(' and hi')">Update Message</button>

<p>your name: {{ name() }}</p>
<p>{{ welcomeMessage() }}</p>
<input [value]="name()" (input)="name.set($any($event.target).value)" />

<p>Your location: {{ location() }}</p>
<button (click)="changeLocation('India')">Set location to India</button>

<h2>Day 5: Real-World Reactive Form</h2>

<label>First Name:</label>
<input
  [value]="firstName()"
  (input)="firstName.set($any($event.target).value)"
/>

<label>Last Name:</label>
<input [value]="lastName()" (input)="lastName.set($any($event.target).value)" />

<label>Email:</label>
<input [value]="email()" (input)="email.set($any($event.target).value)" />

<hr />

<p><strong>Full Name:</strong> {{ fullName() }}</p>
<p><strong>Form Valid:</strong> {{ formValid() }}</p>
